<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	
	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
          default-autowire="no">
	<!-- 管理对像 -->
	
	<!-- <bean id="student" class="com.csf.pojo.po.Student" scope="prototype">
	<property name="age" value="11"></property>
	<property name="name" value="石狮子"></property>
	</bean> -->
	
	<bean  id="sudent" class="com.csf.pojo.po.Student" scope="prototype">
	<constructor-arg  value="11"></constructor-arg>
	<constructor-arg  value="石狮子"></constructor-arg>
	</bean>
</beans>

