<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
          default-autowire="no">
	<bean id="userServiceImpl" class="com.csf.maven.service.impl.UserServiceImpl"></bean>
	<bean id="totalAdvice" class="com.csf.maven.advice.TotalAdive"></bean>
	
	
<!-- 	<aop:config>
		<aop:pointcut expression="execution(* com.csf.maven.service.impl.*ServiceImpl.*(..))" id="pc"/>
								
		<aop:aspect ref="totalAdvice">
			<aop:before method="before" pointcut-ref="pc"/>
			<aop:after-returning method="afterReturning" pointcut-ref="pc"/>
			<aop:around method="around" pointcut-ref="pc"/>
			<aop:after-throwing method="afterException" pointcut-ref="pc"/>
			<aop:after method="after" pointcut-ref="pc"/>
		</aop:aspect>
	</aop:config> -->
	
	<aop:aspectj-autoproxy ></aop:aspectj-autoproxy>
</beans>

